name: k8s-smr-release

on:
  push:
    branches: [ release-* ]

jobs:
  build_and_push_prerelease:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.2'

    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | awk -F 'release-'  '{print $2}')

    - name: Build and push Docker images
      uses: docker/build-push-action@v1.0.1
      with:
        path: ./
        username: ${{secrets.DOCKER_REGISTRY_USERNAME}}
        password: ${{secrets.DOCKER_REGISTRY_PASSWORD}}
        repository: lucasbfernandes/k8s-smr
        dockerfile: .build/k8s-smr/Dockerfile
        tags: ${{steps.get_version.outputs.VERSION}}
        tag_with_ref: false
        tag_with_sha: false
